# ignore gradle files 
.gradle

/local.properties

#ignore idea folders
/.idea/workspace.xml
/.idea/libraries

# ignore mac os x files
.DS_Store

# ignore build files
/build

# ignore temporary files
*~